Repository Alex-K1m/algorithms-and-data-structures: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write

ci: add type checking
  .github/workflows/ci.yml
Due: prettier --write

chore: update dependencies
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

ci: fix coverage updload error by adding a token
  .github/workflows/ci.yml
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

docs: fix readme badges links
  README.md
Due: prettier --write

feat: add bubble sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

feat: add selection sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

test: refactor sorting test
  src/algorithms/sorting/Sorter.test.ts
Due: eslint --fix, tsc-files --noEmit

feat: add insertion sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

refactor: remove unnecessary min & max heap abstractions
  src/data-structures/heap/Heap.test.ts
  src/data-structures/heap/Heap.ts
  src/data-structures/heap/MaxHeap.ts
  src/data-structures/heap/MinHeap.test.ts
  src/data-structures/heap/MinHeap.ts
  src/data-structures/priority-queue/PriorityQueue.ts
Due: eslint --fix, tsc-files --noEmit

refactor: comparator & compare functions
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
  src/data-structures/heap/Heap.test.ts
  src/data-structures/heap/Heap.ts
  src/data-structures/priority-queue/PriorityQueue.ts
  src/data-structures/tree/BinarySearchTreeNode.test.ts
  src/data-structures/tree/BinarySearchTreeNode.ts
  src/utils/Comparator.test.ts
  src/utils/Comparator.ts
  src/utils/compareFns.ts
Due: eslint --fix, tsc-files --noEmit

chore: add debugging configuration for vscode
  .vscode/launch.json
Due: prettier --write

fix: heapifyDown method working incorrectly
  src/data-structures/heap/Heap.test.ts
  src/data-structures/heap/Heap.ts
  src/data-structures/priority-queue/PriorityQueue.test.ts
Due: eslint --fix, tsc-files --noEmit

feat: add heap sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

feat: add merge sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

feat: add quick soring algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

feat: add shell sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

docs: fix old .js links
  README.md
Due: prettier --write

docs: add sorting section & cheat sheet
  README.md
Due: prettier --write

refactor: separate binary search tree & node
  .eslintrc.yml
  src/data-structures/tree/BinarySearchTree.test.ts
  src/data-structures/tree/BinarySearchTree.ts
  src/data-structures/tree/BinarySearchTreeNode.test.ts
  src/data-structures/tree/BinarySearchTreeNode.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

docs: update links to bst
  README.md
Due: prettier --write

feat: add counting sorting algorithm
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

docs: add counting sort
  README.md
Due: prettier --write

feat: negative integers sorting for counting sort
  README.md
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore: fix debugging config
  .vscode/launch.json
Due: prettier --write

feat: add ability to sort any types with counting sort
  src/algorithms/sorting/ComparisonSorter.test.ts
  src/algorithms/sorting/ComparisonSorter.ts
  src/algorithms/sorting/NonComparisonSorter.test.ts
  src/algorithms/sorting/NonComparisonSorter.ts
Due: eslint --fix, tsc-files --noEmit

docs: split sorting into 2 subcategories
  README.md
Due: prettier --write

feat: add radix sorting algorithm
  src/algorithms/sorting/NonComparisonSorter.test.ts
  src/algorithms/sorting/NonComparisonSorter.ts
Due: eslint --fix, tsc-files --noEmit

refactor: leave counting & radix sort as static methods on the Sorter
  src/algorithms/sorting/NonComparisonSorter.test.ts
  src/algorithms/sorting/NonComparisonSorter.ts
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
Due: eslint --fix, tsc-files --noEmit

docs: add radix sort
  README.md
Due: prettier --write

ci: update
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore: edit npm scripts
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: fix links in package.json
  package.json
Due: prettier --write

chore: update dependencies
  .gitignore
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write

ci: update
  .github/workflows/ci.yml
Due: prettier --write

chore: security fix #4
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore: update & improve
  .babelrc
  .eslintrc.yml
  .github/workflows/ci.yml
  .lintstagedrc.yml
  .prettierrc.yml
  package-lock.json
  package.json
  src/algorithms/sorting/Sorter.ts
  src/data-structures/linked-list/LinkedListNode.ts
  src/global.g.ts
  src/index.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: missing coverage dependency
  package-lock.json
  package.json
Due: prettier --write

chore: add tsconfig root dir to eslint config
  .eslintrc.cjs
  .eslintrc.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{j,t}s
  tsc-files --noEmit: any of: *.ts
  prettier --write: any of: *.{json,yml,yaml,md}
