Repository Alex-K1m/algorithms-and-data-structures: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write

chore: update vitest
  package-lock.json
  package.json
Due: prettier --write

fix: small type errors
  src/data-structures/hash-table/HashTable.ts
  src/data-structures/priority-queue/PriorityQueue.ts
Due: eslint --fix, tsc-files --noEmit

chore: change and update dependencies and configs
  .editorconfig
  .eslintrc.cjs
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .npmrc
  .prettierrc.yml
  .vscode/launch.json
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add typescript path alias
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

reafactor: comparator
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
  src/data-structures/heap/Heap.test.ts
  src/data-structures/heap/Heap.ts
  src/data-structures/priority-queue/PriorityQueue.ts
  src/data-structures/tree/BinarySearchTree.test.ts
  src/data-structures/tree/BinarySearchTree.ts
  src/utils/Comparator.test.ts
  src/utils/Comparator.ts
  src/utils/compareFns.ts
Due: eslint --fix, tsc-files --noEmit

feat: add binary search
  src/algorithms/searching/Search.test.ts
  src/algorithms/searching/Search.ts
Due: eslint --fix, tsc-files --noEmit

fix: all lint & type errors
  eslint.config.js
  package.json
  src/algorithms/sorting/Sorter.test.ts
  src/algorithms/sorting/Sorter.ts
  src/data-structures/deque/Deque.test.ts
  src/data-structures/deque/Deque.ts
  src/data-structures/doubly-linked-list/DoublyLinkedList.test.ts
  src/data-structures/doubly-linked-list/DoublyLinkedList.ts
  src/data-structures/doubly-linked-list/DoublyLinkedListNode.test.ts
  src/data-structures/doubly-linked-list/DoublyLinkedListNode.ts
  src/data-structures/hash-table/HashTable.test.ts
  src/data-structures/hash-table/HashTable.ts
  src/data-structures/heap/Heap.test.ts
  src/data-structures/heap/Heap.ts
  src/data-structures/linked-list/LinkedList.test.ts
  src/data-structures/linked-list/LinkedList.ts
  src/data-structures/linked-list/LinkedListNode.test.ts
  src/data-structures/linked-list/LinkedListNode.ts
  src/data-structures/priority-queue/PriorityQueue.test.ts
  src/data-structures/priority-queue/PriorityQueue.ts
  src/data-structures/queue/Queue.test.ts
  src/data-structures/queue/Queue.ts
  src/data-structures/stack/Stack.test.ts
  src/data-structures/stack/Stack.ts
  src/data-structures/tree/BinarySearchTree.test.ts
  src/data-structures/tree/BinarySearchTree.ts
  src/data-structures/tree/BinarySearchTreeNode.test.ts
  src/data-structures/tree/BinarySearchTreeNode.ts
  src/global.d.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --fix: any of: *.{j,t}s
  tsc-files --noEmit: any of: *.ts
  prettier --write: any of: *.{html,json,yml,md}
